@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#navBar {
  position:center;
  width: auto;
  height: auto;
  color: rgb(70, 82, 73);
  font-weight: 700;
  text-shadow: 0px 0px 12px rgb(253, 253, 253), 0px 0px 12px rgb(177, 177, 177);
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  font-size: auto;
  font-family: "Open Sans",  Impact;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 10px #fff ;
  padding:8px;
  text-align: center;
}

.splash{
  position: fixed center;
  width: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* -webkit-animation: in 1s;
  animation: in 1s; */
}
.splash:hover {
  animation: shadow-pulse 1s infinite;
  /* -webkit-animation: out 1s;
  animation: out 1s; */
}

footer{
    background-color:rgba(218, 218, 218, 0.493);
    height:30px;
    padding:10px;
    border-top:1px solid #ABABAB;
    position:fixed;
    text-align: left;
    font-size: 12px;
    left:0;
    bottom:0;
    width:100%
    }

.btn {
  width: auto;
  height: auto;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 12px rgb(218, 255, 209), 0px 0px 12px #fff;
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  font-family: "Open Sans",  Impact;
  font-size: 10px;
  cursor: pointer;
  background-color: rgb(124, 12, 40);
  border-radius: 40px;
  box-shadow: 0px 0px 10px #fff;
  padding: -1px;
}
.btn:hover{
  transform: scale(1.1);
}
.btn:active {
  background-color: rgb(209, 59, 142);
  border: none;
  /* transform: scale(.95); */
}

li {
  text-shadow: none;
  color: black;
  font-size: 30px;
}

body {
  text-align: center;
  /* padding: 10%; */
  height:100vh;
  width:100vw;
  background-color: rgb(236, 255, 221);
  background: linear-gradient(rgb(124, 12, 40), rgb(192, 91, 116), rgb(255, 208, 148), rgba(252, 218, 175));
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: block;
  min-height: 100%;
  background-attachment: fixed;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  background-image: url('~/img/frame.jpg') no-repeat center center;
  background-size: cover;
  background-color: rgb(238, 229, 229, 0.34);
  opacity: 0.34;
  text-align: center;
  margin: auto;
  width: 80%;
  min-height: 100%;
}
label{
  display: inline-block;
  width: 120px;
  vertical-align:  top;
  text-align: right;
  padding-right: 15px;
}
input{
  display: inline-block;
  vertical-align:  top;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fadeIn {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}


/* @-webkit-keyframes in {
  from   { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes out {
  0%   { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes in {
  from   { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg);}
}

@keyframes out {
  0%   { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
} */

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% { 
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
      transform: translateY(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateY(30px);
    }
    80% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
   }
}