<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Sweet And Savory</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    
    <div class="splash animated bounceInDown">
      <a href='@Url.Action("Index", "Account")'>
        <img src='../../img/S&S-logo.JPG' />
      </a>
    </div>
    
  </body>
  <footer>
    <p>Courtesy Tyler Bates at Epicodus</p>
  </footer>
</html>