<img src='~/img/S&S-logo.JPG' alt="Pierre's Logo" margin="0 auto" height="auto" width="40%" style="border: 5px double green">
  <br>
  <br>
  <div id="navBar">
  <form action="/search" method="get">
  <br>
  <p>Search Treat By Flavor </p>
  <input type = "text" name="search">
  <input type="submit" value="Search" class="btn">
  </form>
  <hr />
    <ul class="nav nav-tabs animated bounceInDown">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/Treats">All Treats</a></li>
      <li role="presentation"><a href="/Flavors">All Flavors</a></li>
    </ul>
  </div>