<img src='~/img/S&S-logo.JPG' alt="Pierre's Logo" margin="0 auto" height="auto" width="40%" style="border: 5px double rgb(124, 12, 40)">
  <br>
  <br>
  <div id="navBar">
    <form action="/search" method="get">
      <br>
      <p>Search Treat By Flavor </p>
      <input type = "text" name="search">
      <input type="submit" value="Search" class="btn">
    </form>
    <hr />
    <ul class="nav nav-tabs animated bounceInDown">
      <div id="navBtn">
        <li role="presentation"><a href="/"><img src='~/img/home.jpg'margin="0 auto" heigt="auto" width="100vw" style="border: 5px double rgb(124, 12, 40)"/></a></li>
      </div>
      <div id="navBtn">
        <li role="presentation"><a href="/Treats"><img src='~/img/treats.jpg'margin="0 auto" heigt="auto" width="100vw" style="border: 5px double rgb(124, 12, 40)"/></a></li>
      </div>
      <div id="navBtn">
        <li role="presentation"><a href="/Flavors"><img src='~/img/flavors.jpg'margin="0 auto" heigt="auto" width="100vw" style="border: 5px double rgb(124, 12, 40)"/></a></li>
      </div>
    </ul>
  </div>